#modal {
      display: none;
      position: fixed;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(8px); 
  }
  
  #modal-content {
      background-color: #fff;
      opacity: 1;
      padding: 20px;
      border-radius: 8px;
      display: flex;
      align-items: start;
      max-width: 900px
  }
  
  #drink-image {
      width: 200px;
      margin-right: 10px;
  }